<nav>
  <div><%= link_to "home", animals_path %></div>
  <div><%= link_to "edit", edit_animal_path %></div>
</nav>

<h2><%= @animal.name %></h2>

<div>
  <p>Species: <%= @animal.species %></p>
  <p>Age: <%= @animal.age %> years old</p>
</div>
