<nav>
  <h2>Animals Details</h2>
  <div><%= link_to "edit", edit_animal_path %></div>
  <div><%= link_to "delete", animal_path(@animal.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %></div>
</nav>

<div class="animal-details">
  <div>
    <div>
      <h2><%= @animal.name %></h2>
      <p>Species: <%= @animal.species %></p>
      <p>Age: <%= @animal.age %> years old</p>
    </div>
  </div>

  <%= image_tag @animal.image, alt: @animal.species %>
</div>
